{% extends 'shop/basic.html' %}
{% block title %}{{product.product_name}} View{% endblock %}
{% block body %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <img src="/media/{{product.image}}" alt="image" width="233px" height="385px">
            </div>
        </div>
        <div class="col-md-8">
            <h5 id="namepr{{product.id}}">{{product.product_name}}</h5>
            <p><strong>Rs. <span id="pricepr{{product.id}}">{{product.price}}</span></h6></strong></p>
            <p>{{product.desc}}</p>
            <div class="quantity-selector">
                <button id="minus" class="btn btn-primary">-</button>
                <span id="quantity" class="quantity-value">1</span>
                <button id="plus" class="btn btn-primary">+</button>
            </div>
            <div class="row">
                <button class="btn btn-primary mx-2 my-2">Buy Now</button>
                <span id="divpr{{product.id}}" class="divpr mx-2 my-2">
                    <button id="pr{{product.id}}" class="btn btn-primary cart">Add to Cart</button>
                </span>
            </div>
        </div>
    </div>
</div>
{% block js %}
{% endblock %}
{% endblock %}